
/* media queries */

/* mobile devices  */
@media only screen and (max-width:688px){
    
    .container{
        background-color:#ffffff;
        width: 100%;
    }
      
    /* .section-title {
        font-size:50%;
    } */
       
 
    .top-players .section-title{
        text-align: center;
    }
  
    .players,.blogs,.courses{
        display: grid;
        
        grid-template-columns: repeat(1,1fr);
        /* grid-template-columns: 1fr,1fr,1fr; */
        /* grid-row-gap: 30px; */
        
    
    }

   /* .top-blogs{
        display: flex;
        flex-direction: column;
        align-items:center;
    } */
   

    .player,.blog{
        flex-direction: column;
        justify-content: center;
        flex-direction: start;
    }

    hr{
        width: 70%;
    }
    
 
}


/* tablet device */
@media only screen and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-columns: 1fr,1fr,1fr; */
        /* grid-row-gap: 30px; */
    
    }
      .players,.blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-columns: 1fr,1fr,1fr; */
        /* grid-row-gap: 30px; */
    
    }
    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    hr{
        width: 70%;
    }
}


