/* fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');


/* roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* common style */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color:#F3F1FF;
}
 /* main{
    display: flex;
    justify-content:center;
    flex-direction: column;
   align-items: center;

 } */


 /* header part css */

 .header{
     background-color: #562EFF;
     height: 5.875rem;
     display: flex;
     justify-content:center;
     padding: 0 0.625rem;
 }
 .header-container{
     display:flex;
     justify-content:space-between;
     width:52.5rem;
 }



 .logo{
    width: 2.526rem;
    display:flex ;
    align-items: center;
    margin-right:60px;
 }

 .logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
 }

 .logo-link span{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
 }

 .logo img{
       width: 2.6rem;
    margin-right: 0.313rem;
}

 .navbar ul{
     display:flex;
     align-items:baseline;
     margin:0;
     justify-content:space-around;
 }

 .navbar ul li{
     /* display:flex; */
     list-style: none;
     justify-content:space-around;
     margin:0 18px;
 }
 .navbar ul li a{
                text-decoration:none;
                font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.5rem;


            color: #FFFFFF;
 }
 .last-child {
     position: relative;
     top:0.991rem;
 }
 /* main section css start */



 
 .top-player-blog{
    display: flex;
    justify-content:center;
    flex-direction: column;
   align-items: center;
}
.container{
    background-color:#ffffff;
    width: 870px;
    padding:30px;
    border-radius: 5px;
    margin: 10.5px 0px;

}


hr{
    width: 85%;
    /* width: 807px; */
    height: 0px;
    border: 1px solid #D1D1D1;
    }


/* top player style start */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color:#562EFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0px 33px;



}


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr,1fr,1fr; */
    grid-row-gap: 30px;

}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player h3{
    
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 16px;

}


/* top blog style start */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.top-blogs .section-title{
    margin-top: 22px;
    margin-bottom:30px;
}
.blog{
    display: flex;
}
.blog .thumbnil img{
                width: 177px;
                height: 117px;
}
.blog-info{
    margin-left: 16px;
}

.blog-title{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;


        color: #000000;
}
.blog-author{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;


                color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    
    color: #562EFF;
}

/* latest course section start
 */

 .latest-course-section{
     display: flex;
     justify-content: center;
     align-items: center;
     
      vertical-align: middle;
 }
 .courses{
     display: grid;
     grid-template-columns:repeat(3,1fr);
     grid-column-gap: 24px;
 }
 .course{
    height: 269.7856750488281px;
    width: 252.4232177734375px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
   
    border-radius: 0px;
    
 }
.course-banner{
    height: 269.7856750488281px;
    width: 252.4232177734375px;
    


}
 .course .course-banner img{
    width: 224px;
    height: 104px;
 }
 .course-details h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
 }

 .course-details p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 14.6913px;
    /* identical to box height */


    color: #ED6B4F;
    
 }
.course-info{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.course-info .rattings span{
    
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #A2A2A2;

}
.course-duration{
    background: #FEE5DF;
    border-radius: 14.6913px;
    height: 29.382596969604492px;
    width: 94.82565307617188px;
    padding-left:5px;

}
.course-duration{
    display: flex;
    align-items:center;
    justify-content: center;

}
.course-duration .clock-info time{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14.6913px;
    line-height: 20px;
    
    color: #ED6B4F;

}

.fa-clock{
                    height: 20.033588409423828px;
                width: 20.033588409423828px;
                border-radius: 0px;
                color: #ED6B4F;


}
.course-duration i , .course-duration time{
    text-align: center;
}






.fa-star {
    font-size: 12px;
}

.filled{
    color: #FFC014;
    fill:#FFC014 ;
 }

 .empty{
   color: #AEAEAE;
    opacity: 0.25;
 }